*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


.title{
    padding-top: 50px;
    
    font-size: 6vmin;
    text-align: center;
    padding: 50px auto;
    
}
.action{
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    justify-content: center;
}
.action input{
    width: 70%;
    padding: 10px 20px;
    
    
}
button{
    background-color: blue;
    border: 0.2px solid blue;
    color: white;
    font-size: 3vmin;
    padding: 10px 20px;
}
.clear{
   
    background-color: blue;
    border: 0.2px solid blue;
    color: white;
    font-size: 3vmin;
    padding: 5px 10px;
    margin: 10px;

}
.task{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto;
    .totaltask, .completetask{
        font-size: large;
        padding: 2px 4px;
        

    }

}

.data{
    width: 60%;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    
    
}
.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.2px solid gray;
    margin: 10px;
    list-style: none;
   
    
   
}
.item{
    
    text-align: start;
    align-items: center;
    word-wrap: break-word;
   
    margin: 0 5px;

    
}
.itemCut{
    text-align: start;
    align-items: center;
    word-wrap: break-word;
    text-decoration-line: line-through;
    margin: 0 5px;

}
.item input{
    text-align: end;
    margin: 0 40%;
    padding: 0 auto;
   
   

    
}


@media (max-width:600px) {
    .task{
        .totaltask, .completetask{
            font-size: small;
           
            
    
        }
    }
    
}